<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% elif post.title %}{{ post.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default(site.description) | striptags(true) | truncate(160) | escape }}">

    <!--
      Hello, and welcome to the source for my site!
      There's not a lot to see around here, but I hope you get some inspiration/ideas/laughs.

      Here's an ASCII art stick figure saying hi:  o/
                                                  /|
                                                  / \
    -->

  <link rel="canonical" href="{{ site.url }}/{{ page.url | replace('index.html', '') }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="/feed.xml">

  <link rel="manifest" href="/manifest.json">

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="{{ site.title }}">
  <link rel="icon" sizes="16x16" href="/assets/images/touch/16x16.png">
  <link rel="icon" sizes="32x32" href="/assets/images/touch/32x32.png">
  <link rel="icon" sizes="192x192" href="/assets/images/touch/192x192.png">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
  <link rel="apple-touch-icon" href="/assets/images/touch/152x152.png">

  <meta name="msapplication-TileImage" content="/assets/images/touch/144x144.png">
  <meta name="msapplication-TileColor" content="#009688">

  <meta name="theme-color" content="#009688">

  <style>
  {% include "main.css" %}
  </style>

  {% if environment == 'production' and site.google_analytics %}
  {% include "includes/google-analytics.html" %}
  {% endif %}
</head>
