$mdc-typography-styles: (
  display4: (
    font-size: 7rem,
    line-height: 7rem,
    font-weight: map-get($mdc-typography-font-weight-values, light),
    letter-spacing: normal,
    margin: -1rem 0 3.5rem -.085em,
    text-decoration: inherit,
    text-transform: inherit
  ),
  display3: (
    font-size: 3.5rem,
    line-height: 3.5rem,
    font-weight: map-get($mdc-typography-font-weight-values, regular),
    letter-spacing: normal,
    margin: -8px 0 64px -.07em,
    text-decoration: inherit,
    text-transform: inherit
  ),
  display2: (
    font-size: 2.813rem,
    line-height: 3rem,
    font-weight: map-get($mdc-typography-font-weight-values, regular),
    letter-spacing: normal,
    margin: -.5rem 0 4rem -.07em,
    text-decoration: inherit,
    text-transform: inherit
  ),
  display1: (
    font-size: 2.125rem,
    line-height: 2.5rem,
    font-weight: map-get($mdc-typography-font-weight-values, regular),
    letter-spacing: normal,
    margin: -.5rem 0 4rem -.07em,
    text-decoration: inherit,
    text-transform: inherit
  ),
  headline: (
    font-size: 1.5rem,
    line-height: 2rem,
    font-weight: map-get($mdc-typography-font-weight-values, medium),
    letter-spacing: normal,
    margin: -.5rem 0 1rem -.06em,
    text-decoration: inherit,
    text-transform: inherit
  ),
  title: (
    font-size: 1.25rem,
    line-height: 2rem,
    font-weight: map-get($mdc-typography-font-weight-values, medium),
    letter-spacing: normal,
    margin: -.5rem 0 1rem -.05em,
    text-decoration: inherit,
    text-transform: inherit
  ),
  subheading2: (
    font-size: 1rem,
    line-height: 1.75rem,
    font-weight: map-get($mdc-typography-font-weight-values, regular),
    letter-spacing: normal,
    margin: -.5rem 0 1rem -.06em,
    text-decoration: inherit,
    text-transform: inherit
  ),
  subheading1: (
    font-size: .938rem,
    line-height: 1.5rem,
    font-weight: map-get($mdc-typography-font-weight-values, regular),
    letter-spacing: normal,
    margin: -.313rem 0 .813rem -.06em,
    text-decoration: inherit,
    text-transform: inherit
  ),
  body2: (
    font-size: .875rem,
    line-height: 1.5rem,
    font-weight: map-get($mdc-typography-font-weight-values, medium),
    letter-spacing: normal,
    margin: -.25rem 0 .75rem 0,
    text-decoration: inherit,
    text-transform: inherit
  ),
  body1: (
    font-size: .875rem,
    line-height: 1.6rem,
    font-weight: map-get($mdc-typography-font-weight-values, regular),
    letter-spacing: normal,
    margin: -.25rem 0 .75rem 0,
    text-decoration: inherit,
    text-transform: inherit
  ),
  caption: (
    font-size: .75rem,
    line-height: 1.25rem,
    font-weight: map-get($mdc-typography-font-weight-values, regular),
    letter-spacing: normal,
    margin: -.5rem 0 1rem -.04em,
    text-decoration: inherit,
    text-transform: inherit
  ),
  button: (
    font-size: .875rem,
    line-height: 2.25rem,
    font-weight: map-get($mdc-typography-font-weight-values, medium),
    letter-spacing: normal,
    margin: inherit /* We do not have adjust margin for button */,
    text-decoration: none,
    text-transform: uppercase
  )
);
