@use "./variables";
@use "./theme";
@use "./typography";

@mixin light-mode-vars {
  --mdc-theme-primary: #{variables.$primary};
  --primary-color: #{variables.$primary};
  --primary-color-text: #{variables.$primary};
  --page-background: #{variables.$page-background};
  --post-background: #{variables.$post-background};
  --text-color: #{variables.$black-text};
  --code-color: #{variables.$code-color};
  --faded-color: #{variables.$faded-color};
}

@mixin dark-mode-vars {
  --mdc-theme-primary: #{variables.$primary-darker};
  --primary-color: #{variables.$primary-darker};
  --primary-color-text: #{variables.$primary-lighter};
  --page-background: #{variables.$page-background-dark};
  --post-background: #{variables.$post-background-dark};
  --text-color: #{variables.$white-text};
  --code-color: #{variables.$code-color-lighter};
  --faded-color: #{variables.$faded-color-lighter};
}

:root, .light-mode.light-mode {
  @include light-mode-vars;
}

.dark-mode.dark-mode {
  @include dark-mode-vars;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-mode-vars;
  }
}

html, body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include typography.base;
  height: 100%;
  color: variables.$black-text;
  color: var(--text-color);
}

.site-content {
  flex-grow: 1;
  background: variables.$page-background;
  background: var(--page-background);
  box-sizing: border-box;
}

.mdc-button {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
