@import "variables";

html, body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include mdc-typography-base;
  height: 100%;
  color: $black-text;
}

.site-content {
  flex-grow: 1;
  background: $page-background;
  box-sizing: border-box;
}

.mdc-button {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  html, body {
    color: $white-text;
    --mdc-theme-primary: #{$primary-darker};
  }

  .site-content {
    background: $page-background-dark;
  }
}
