<!DOCTYPE html>
<html lang="{{ page.lang | default(site.lang) }}">

  {% include "includes/head.html" %}

  <body>
  	<div id="top" class="top"></div>

    {% include "includes/header.html" %}

    <main class="site-content" aria-label="Content">
        {% block content %}
        {% endblock %}
    </main>

    {% include "includes/footer.html" %}

    <script>
   	self.addEventListener('install', function(e) {
      self.skipWaiting();
    });

    self.addEventListener('activate', function(e) {
      self.registration.unregister()
        .then(function() {
          return self.clients.matchAll();
        })
        .then(function(clients) {
          clients.forEach(client => client.navigate(client.url))
        });
    });
    </script>

  </body>

</html>
